@font-face {
    font-family: Thinpaw;
    src: url(../fonts/Thinpaw.ttf);
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MYRIADPRO-LIGHTSEMICN.OTF);
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MYRIADPRO-BOLDSEMICN.OTF);
    font-weight: bold;
}

*{
	font-family: MyriadPro;
}

html, body{
	overflow-x: hidden;
	height: 100%;
}

.wrapper{
	width: 100%;
	overflow-x: hidden;
}

.header{
	position: relative;
}

.logo{
	position: absolute;
	top: 10px;
	left: 30%;
	z-index: 10;
	height: 27px;
	width: 138px;
}

/*************************************
       Banner
**************************************/

.banner{
	width: 100%;
}

.banner .slide{
	width: 100%;
	height: 500px;
	background-size: cover;
	z-index: 0;
	color: white;
	font-size: 1.2em;
	font-family: Thinpaw;
	text-align: left;
	position: relative;
}

.slide-content{
	position: absolute;
	top: 20%;
	left: 0;
	right: 10%;
	padding: 15px;
	height: auto;
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}


.slide1{
	background: url("../images/slide1.jpg");
}

.slide2{
	background: url("../images/slide2.jpg");
}

.slide3{
	background: url("../images/slide3.jpg");
}

.slide4{
	background: url("../images/slide4.jpg");
}

.slide5{
	background: url("../images/slide5.jpg");
}

.slide6{
	background: url("../images/slide6.jpg");
}

/* Override slick-bottom property of slick plugin */
.slick-dots{
	bottom: 0;
}

/*****************************************/



/***************************************
		Bao viet introduction
****************************************/

.introduction{
	margin-top: 0px;
}


.intro-content{
	background: #1F90CF url("../images/background.png");
	color: white;
	font-size: 1.4em;
	padding: 10px;
}


.intro-img{
	background: url("../images/intro.jpg");
	background-size: cover;
	height: 500px;
}

.quanlity{
	text-align: center;
	color: #1964af;
}

.quanlity div{
	padding-top: 50px;
	padding-bottom: 30px;
}

.signup{
	height: 200px;
	text-align: center;
	padding: 75px;
	position: relative;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
	background-image:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
	background-image:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
	background-image:-ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0.1)),color-stop(100%,rgba(255,255,255,1)));

}

.signup:after{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: url("../images/slide6.jpg") fixed;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	opacity: 0.5
}

.tile{
	color: white;
	font-size: 1.1em;
	margin-top: 60px;
}

.tile ul{
	padding: 0;
	list-style: none;
}

.tile ul li{
	position: relative;
	padding-left: 20px;
	margin-top: 12px;
}

.tile ul li::before{
	content: "";
	display: inline-block;
	width: 9px;
	height: 9px;
	position: absolute;
	left: 0;
	top: 7px;
	border-radius: 50%;
	border: 5px solid white;
}

.tile-1, .tile-4, .tile-5{
	height: 200px;
}

.tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6{
	padding: 15px;
}

.tile-1{
	background: url("../images/tile1.jpg");
	background-size: cover;
}

.tile-4{
	background: url("../images/tile2.jpg");
	background-size: cover;
}

.tile-5{
	background: url("../images/tile3.jpg");
	background-size: cover;
}

.tile-2{
	background: #01D9D8;
}

.tile-3{
	background: #E6D640;
}

.tile-6{
	background: #AAD27F;
}



.cost-head{
	width: 100%;
	padding: 15px;
	background: #8ab2f2 url("../images/background.png");
	font-size: 2em;
	font-weight: bold;
	color: white;
	line-height: 50px;
}

.cost table td{
	text-align: center;
	padding: 15px;
}


.bv-circle{
	font-size: 3.5em;
	font-weight: bold;
	background: #fff;
	display: block;
	height: 75px;
	line-height: 75px;
	text-align: center;
	width: 75px;
	border-radius: 50%;
	margin: auto;
}


.cost table{
	width: 100%;
}

.cost table th{
	display: none;
}

.cost table tr td:first-child {
	background: #f0f0f0; font-weight:bold;font-size:1.3em;
}

.cost table tr td{
	display: block;
}

.cost table td:before { 
    content: attr(data-th); 
    display: block;
    text-align:center;  
 }

.ct1, .ct2, .ct3{
	padding: 20px;
}

.ct1 .bv-circle{
	color: #c6cfd6;
}

.ct2 .bv-circle{
	color: #72d3eb;
}

.ct3 .bv-circle{
	color: #ff9c00;
}

.ct1{
	background: #c6cfd6;
}

.ct2{
	background: #72d3eb;
}

.ct3{
	background: #ff9c00;
}

.statistical h1{
	font-weight: bold;
}

.statistical{
	color: #1964af;
	text-align: center;
}

.statistical div{
	margin-bottom: 15px
}

.footer{
	background-image: url("../images/footer-bg.png");
	font-size: 1.2em;
	color: #ddd;
	line-height: 30px;
	padding: 30px 0;
}

.footer a{
	color: white;
}

.facebook, .twitter, .google{
	height: 55px;
	width: 55px;
	border: 2px solid white;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
	display: inline-block;
	padding: 5px;
	margin-right: 15px;
}

.facebook:hover{
	background: #3b5998
}

.google:hover{
	background: #d34836;
}

.twitter:hover{
	background: #00aced;
}

.screen{
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
}

.signup-form{
	background: #fff;
	border-radius: 5px;
	z-index: 30;
	overflow: auto;
	position: relative;
	max-height: 100%;
	padding-bottom: 15px;
}

.closex{
	position: absolute;
	border-radius: 50%;
	right: 5px;
	top: 2px
}

.closex .fa{
	font-size: 30px;
}

input.error{
	border: 1px red solid;
}


.error{
	font-weight: lighter;
	color: red;
	font-style: italic;
	font-family: tahoma;
}


.order-info{
	line-height: 30px;
	color: #fff;

}

.order-heading{
	background: #bb8d09;
	padding: 15px;
}


}

.order-heading{
	background: #bb8d09;
	padding: 15px;
}


.order-body{
	background: linear-gradient(to bottom, #3185da, #1964af);
	padding: 15px;
	font-size: 15px;
}

#price{
	display: none;
}

#price-list{
	table-layout:fixed;
    width:100%;
}

#col-1, #col-2, #col-3, #col-4, #col-5, #col-6{
	display: block;
	width: 100%;
}

#price-list th{
	display: none;
}

#price-list td span:before{
	content: attr(data);
	font-weight: bold;
}

#cost{
	display: none;
}

.save-success{
	color: green;
	cursor: pointer;
}

/****************************************/
@media (min-width: 1200px){
	#col-1, #col-2, #col-3, #col-4, #col-5, #col-6{
		display: table-cell;
		width: auto;
	}

	#price-list td span:before{
		content: "";
		display: none;
	}

	#price-list th{
		display: table-cell;
	}

	#price-list th{
		background: #ddd;
	}

	#price-list th, #price-list td{
		padding: 10px;
		border: 1px solid #ccc;
		text-align: center;
	}
}


@media (min-width: 992px){
	.logo{
		left: 40%;
	}

	.banner div{
		font-size: 1.2em;
	}

	.tile-2, .tile-3, .tile-6{
		height: 500px;
	}

	.cost table th{
		width: auto;
	}

	.menu{
		padding: 0;
	} 

	.signup-form{
		overflow: hidden;
		height: auto;
		border: 4px solid #fff;
		background: #eee;
		border-radius: 5px;
		background: url(../images/popup.jpg);
		background-size: cover;
		width: 94%;
		margin-top: 20px;
		margin-left: 3%;
		z-index: 50;
		overflow: visible;
	}

	.closex{
		right: -10px;
		top: -10px;
		background: #000;
		color: #fff;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		width: 25px;
		text-align: center;
		border: 1px solid #fff;
		z-index: 99;
	}

	.closex:hover{
		cursor: pointer;
	}

	.closex .fa{
		font-size: 20px;
	}

	.cost{
		margin-bottom: 70px;
	}

	.cost tr:nth-of-type(2n) {
		background-color: #eee;
	}

	.cost table th{
		display: table-cell;
	}

	.cost table tr td:first-child {
		background: transparent; 
		font-weight:normal;
		font-size:1em;
	}

	.cost table tr td{
		display: table-cell;
	}

	.cost table td:before { 
	    content: ""; 
	    display: none; 
	}

	.intro-content{
		height: 500px;
	}

	.cost-head{
		height: 150px;
	}

	.slick-dotted.slick-slider{
		margin-bottom: 20px;
	}

	.logo{
		height: auto;
		width: auto;
	}

	.slide-content{
		left: 8.4%;
	}
}