@font-face {
    font-family: MyriadPro;
    src: url('fonts/myriad-set-pro_text.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyriadPro;
    src: url('fonts/myriad-set-pro_extrathin.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: MyriadPro;
    src: url('fonts/myriad-set-pro_bold.woff');
    font-style: normal;
    font-weight: bold;
}

html,body, .wrapper{
	overflow-x: hidden;
}


*{
	font-family: MyriadPro;
	color: #033584;
}

.header{
	width: 100%;
	background: url('images/banner.jpg') no-repeat 50% 0 fixed;
	height: 500px;
	padding-top: 1px;
}

.logo{
	text-align: center;
	margin-top: 20px;
}

.body{
	width: 95%;
	margin: 15px auto;
}

.date{
	font-size: 0.9em;
	color: #5c93ed;
}

.read-more{
	display: inline-block;
	padding: 10px 40px;
	font-size: 1.2em;
	border: 1px solid #033584;
	font-weight: bold;
	margin: 30px 0;
	border-radius: 20px;
	color: #073d93;
	transition: 0.5s all ease;
}

.read-more:hover{
	background: #073d93;
	color: #fff;
	text-decoration: none;
}

.k-pagination{
	text-align: right;
}

.k-pagination a{
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	padding: 3px 10px;
	display: inline-block;
	margin-left: 5px;
	border-radius: 5px;
	color: #fff;
}

.k-pagination a:hover{
	text-decoration: none;
	background: rgba(30,87,153,1);
}

@media (min-width: 768px){
	.body{
		width: 90%;
		margin: 20px auto;
	}

	.left-col{
		width: 58%;
		float: left;
		padding: 10px;
		overflow: hidden;
	}

	.img-wrapper{
		overflow: hidden;
	}

	.img-wrapper img{
		transition: 0.5s all ease
	}

	.img-wrapper img:hover{
		opacity: 0.9;
		transform: scale(1.2);
	}

	.right-col{
		width: 42%;
		float: left;
	}
}

@media (min-width: 992px){
	.body{
		width: 80%;
		margin: 25px auto;
	}

	.left-col{
		width: 67%;
	}

	.right-col{
		width: 33%;
	}


}

@media (min-width: 1200px){
	.body{
		width: 75%;
		margin: 40px auto;
	}

	.left-col{
		width: 75%;
	}

	.right-col{
		width: 25%;
	}
}